:root {
   --blue: #145b9c;
   --red: #cc2c11;
   --purple: #351431;
   --yellow: #EEB902;
   --exception: #592252;
   --pink: #D67AB1;
   --white: #F7F7F9;
}

body {
   color: var(--purple);
   font-family: 'Lato', sans-serif;
   margin: 16px;
}


/* Instructions */

.instructions {
   font-weight: 700;
   position: fixed;
   right: 16px;
   top: 16px;
   background-color: #fff;
   padding: 16px;
   border: 4px solid var(--purple);
}

.instructions button {
   position: absolute;
   top: 16px;
   right: 16px;
}

.instructions.closed {
   padding: 3px;
}

.instructions.closed p,
.instructions.closed button,
.instructions.closed h2 {
   display: none;
}

.current-state {
   font-style: italic;
   margin-bottom: 1em;
}

/* Maine and Nebraska input boxes */

.maine,
.nebraska {
   height: 0;
   overflow: hidden;
   transform: height 0.2s ease;
}

.maine.active,
.nebraska.active {
   border: 3px solid var(--purple);
   border-radius: 3px;
   padding: 1em;
   margin: 1em 0;
   height: auto;
}

.exception-state h3 {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

h3 {
   margin-top: 0;
}

/* Progress Bar */

.hurdle {
   width: 100%;
   height: 20px;
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.hurdle-biden {
   border: 2px solid var(--blue);
   position: relative;
}

.bar-biden {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   background-color: var(--blue);
}

.hurdle-trump {
   border: 2px solid var(--red);
   position: relative;
}

.bar-trump {
   position: absolute;
   top: 0;
   right: 0;
   height: 100%;
   background-color: var(--red);
}

.flag {
   text-align: center;
   font-weight: 700;
}

h1 {
   text-align: center;
   font-size: 1.5rem;
}

h2 {
   margin: 0;
   font-size: 1.2rem;
}

@media screen and (min-width: 600px) {
   h1 {
      font-size: 1.8rem;
   }
   h2 {
      font-size: 1.5rem;
   }
}

@media screen and (min-width: 1200px) {
   h1 {
      font-size: 2rem;
   }
   h2 {
      font-size: 1.5rem;
   }
}

/* Candidate Info */

.tables-wrapper {
   display: grid;
   grid-template-columns: 1fr;
   grid-gap: 26px;
}

@media screen and (min-width: 600px) {
   .tables-wrapper {
      grid-template-columns: 1fr 1fr;
      grid-gap: 16px;
   }
}

@media screen and (min-width: 1200px) {
   .tables-wrapper {
      grid-template-columns: 1fr;
      grid-gap: 16px;
   }
}

.table-wrapper {
   padding: 1em;
   border-radius: 3px;
}

.table-wrapper .candidate {
   display: flex;
   align-items: center;
}

.table-wrapper .votes {
   width: 50%;
   flex: 0 0 auto;
}

.table-wrapper .elect {
   width: calc(50% - 32px);
}

.table-wrapper .candidate h2:last-child {
   text-align: right;
}

.elect {
   display: flex;
   align-items: center;
}

.show-table-btn,
.close-state-btn {
   position: relative;
   width: 32px;
   height: 32px;
   margin-right: 8px;
   background: none;
   border: 2px solid var(--purple);
   border-radius: 50%;
}

.show-table-btn:hover,
.show-table-btn:focus,
.close-state-btn:hover,
.close-state-btn:focus {
   background: var(--purple);
   color: #fff;
   cursor: pointer;
}


.close-state-btn {
   margin-right: 0;
}

.show-table-btn::after {
   content: "\002B";
   position: absolute;
   top: 4px;
   left: 9px;
}

.show-table-btn[aria-expanded="true"]::after {
   content: "\2212";
}

.table-wrapper-trump {
   border: 3px solid var(--red);
}

.table-wrapper-biden {
   border: 3px solid var(--blue);
}

.table {
   overflow: hidden;
}

.table[aria-expanded="true"] {
   margin-top: 8px;
   height: auto;
}

.table[aria-expanded="false"] {
   height: 0;
}

.map-totals {
   width: 100%;
}

@media screen and (min-width: 1200px) {
   .map-totals {
      display: grid;
      grid-template-columns: 3fr 1fr;
   }
}

.table-row {
   display: flex;
   justify-content: space-between;
}


/* Map and state colors */

.map svg {
   width: 100%;
}

.state[data-candidate="trump"] path {
   fill: var(--red) !important;
}

.state[data-candidate="biden"] path {
   fill: var(--blue) !important;
}

.state[data-candidate=""] path {
   fill: var(--purple) !important;
}

.state[data-state="Nebraska"] path,
.state[data-state="Maine"] path {
   fill: var(--exception) !important;
}

.input-group {
   display: grid;
   grid-template-columns: 1fr 1fr;
   margin-bottom: 8px;
}

button.update {
   background-color: var(--purple);
   border: 0;
   color: #fff;
   padding: 8px 16px;
   display: block;
   width: 100%;
}

button.update:hover,
button.update:focus {
   background-color: var(--exception);
}

.error {
   color: var(--pink);
   font-weight: 700;
   margin-bottom: 8px;
}

footer {
   margin-top: 24px;
   text-align: center;
}