:root {
   --blue: #145b9c;
   --red: #cc2c11;
   --purple: #351431;
   --white: #F7F7F9;
}

body {
   color: var(--purple);
   font-family: 'Lato', sans-serif;
   margin: 16px;
}

.instructions {
   font-weight: 700;
   position: fixed;
   right: 16px;
   top: 16px;
   background-color: #fff;
   padding: 16px;
   border: 4px solid var(--purple);
}

.instructions button {
   position: absolute;
   top: 16px;
   right: 16px;
}

.instructions.closed {
   padding: 3px;
}

.instructions.closed p,
.instructions.closed button,
.instructions.closed h2 {
   display: none;
}

.current-state {
   font-style: italic;
}


.hurdle {
   width: 100%;
   height: 20px;
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.hurdle-biden {
   border: 2px solid var(--blue);
   position: relative;
}

.bar-biden {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   background-color: var(--blue);
}

.hurdle-trump {
   border: 2px solid var(--red);
   position: relative;
}

.bar-trump {
   position: absolute;
   top: 0;
   right: 0;
   height: 100%;
   background-color: var(--red);
}

.flag {
   text-align: center;
   font-weight: 700;
}

h1 {
   text-align: center;
}

/* Candidate Info */

.table-wrapper > .candidate {
   display: flex;
   align-items: center;
}

.table-wrapper > .candidate > * {
   width: 50%;
   flex: 0 0 auto;
}

.map-totals {
   width: 100%;
   display: grid;
   grid-template-columns: 3fr 1fr;
}

.table-row {
   display: flex;
   justify-content: space-between;
}

.map svg {
   width: 100%;
}

/* Handle states colors */
.state[data-candidate="trump"] path {
   fill: var(--red) !important;
}

.state[data-candidate="biden"] path {
   fill: var(--blue) !important;
}

.state[data-candidate=""] path {
   fill: var(--purple) !important;
}

footer {
   text-align: center;
}